(
    noise_types: [
        RandomI64,
        Simplex(
            seed_index: 0,
        ),
        ConstantValue(
            value: F64(-2000.0),
        ),
        ConstantValue(
            value: F64(2000.0),
        ),
        RandomF64(
            min_index: 2,
            max_index: 3,
        ),
        ConstantValue(
            value: F64(-2000.0),
        ),
        ConstantValue(
            value: F64(2000.0),
        ),
        RandomF64(
            min_index: 5,
            max_index: 6,
        ),
        TranslatePoint(
            noise_index: 1,
            x_index: 4,
            y_index: 7,
        ),
        ConstantValue(
            value: F64(0.5),
        ),
        ConstantValue(
            value: F64(15.0),
        ),
        Powf64(
            a_index: 9,
            b_index: 10,
        ),
        ScalePoint(
            noise_index: 8,
            scale_index: 11,
        ),
        ConstantValue(
            value: F64(1.0),
        ),
        Constant(
            value_index: 13,
        ),
        Add(
            a_index: 12,
            b_index: 14,
        ),
        ConstantValue(
            value: F64(0.5),
        ),
        Constant(
            value_index: 16,
        ),
        Multiply(
            a_index: 15,
            b_index: 17,
        ),
        ConstantValue(
            value: F64(4.0),
        ),
        ConstantValue(
            value: F64(0.5),
        ),
        SmoothStep(
            noise_index: 18,
            steps_index: 19,
            smoothness_index: 20,
        ),
        RandomI64,
        Simplex(
            seed_index: 22,
        ),
        ConstantValue(
            value: F64(-2000.0),
        ),
        ConstantValue(
            value: F64(2000.0),
        ),
        RandomF64(
            min_index: 24,
            max_index: 25,
        ),
        ConstantValue(
            value: F64(-2000.0),
        ),
        ConstantValue(
            value: F64(2000.0),
        ),
        RandomF64(
            min_index: 27,
            max_index: 28,
        ),
        TranslatePoint(
            noise_index: 23,
            x_index: 26,
            y_index: 29,
        ),
        ConstantValue(
            value: F64(1.0),
        ),
        Constant(
            value_index: 31,
        ),
        Add(
            a_index: 30,
            b_index: 32,
        ),
        ConstantValue(
            value: F64(0.5),
        ),
        Constant(
            value_index: 34,
        ),
        Multiply(
            a_index: 33,
            b_index: 35,
        ),
        ConstantValue(
            value: F64(0.0),
        ),
        Constant(
            value_index: 37,
        ),
        Max(
            a_index: 36,
            b_index: 38,
        ),
        ConstantValue(
            value: F64(0.5),
        ),
        ConstantValue(
            value: F64(13.0),
        ),
        Powf64(
            a_index: 40,
            b_index: 41,
        ),
        ConstantValue(
            value: I64(11),
        ),
        ConstantValue(
            value: F64(2.0),
        ),
        ConstantValue(
            value: F64(0.5),
        ),
        ConstantValue(
            value: F64(1.0),
        ),
        ConstantValue(
            value: F64(3750.0),
        ),
        GFT(
            noise_index: 39,
            octaves_index: 43,
            frequency_index: 42,
            lacunarity_index: 44,
            persistence_index: 45,
            gradient_index: 46,
            amplitude_index: 47,
        ),
        Multiply(
            a_index: 21,
            b_index: 48,
        ),
        ConstantValue(
            value: F64(0.0),
        ),
        Constant(
            value_index: 50,
        ),
        Add(
            a_index: 49,
            b_index: 51,
        ),
        VoxelSize,
        ScalePoint(
            noise_index: 52,
            scale_index: 53,
        ),
        ConstantValue(
            value: F64(1.0),
        ),
        Dividef64(
            a_index: 55,
            b_index: 53,
        ),
        Constant(
            value_index: 56,
        ),
        Multiply(
            a_index: 54,
            b_index: 57,
        ),
        ConstantValue(
            value: F64(-1.0),
        ),
        Constant(
            value_index: 59,
        ),
        Add(
            a_index: 58,
            b_index: 60,
        ),
    ],
    start_index: 61,
)