(
    blocks: [
        [
            [
                Air,
                Air,
                Air,
            ],
            [
                Air,
                Air,
                Air,
            ],
            [
                Snow,
                Snow,
                Snow,
            ],
            [
                Air,
                Air,
                Air,
            ],
            [
                Air,
                Snow,
                Air,
            ],
            [
                Air,
                Air,
                Air,
            ],
            [
                Air,
                Air,
                Air,
            ],
        ],
        [
            [
                Air,
                Log,
                Air,
            ],
            [
                Air,
                Log,
                Air,
            ],
            [
                Snow,
                Log,
                Snow,
            ],
            [
                Air,
                Log,
                Air,
            ],
            [
                Snow,
                Log,
                Snow,
            ],
            [
                Air,
                Log,
                Air,
            ],
            [
                Air,
                Snow,
                Air,
            ],
        ],
        [
            [
                Air,
                Air,
                Air,
            ],
            [
                Air,
                Air,
                Air,
            ],
            [
                Snow,
                Snow,
                Snow,
            ],
            [
                Air,
                Air,
                Air,
            ],
            [
                Air,
                Snow,
                Air,
            ],
            [
                Air,
                Air,
                Air,
            ],
            [
                Air,
                Air,
                Air,
            ],
        ],
    ],
    model_size: (3, 7, 3),
)